{% load static %}

<footer class="footer">

<div class="footer-container">

<!-- COLONNE 1 -->

<div class="footer-col footer-brand">

<img src="{% static 'images/logo.png' %}" alt="EpelleMoi" class="footer-logo">

<p class="footer-text">
“Joue, apprends et progresse <br>
dans ta foi et ton orthographe”
</p>

<div class="social-icons">

<a href="https://www.facebook.com/profile.php?id=100089474168488" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-facebook-f"></i>
</a>

<a href="https://youtube.com/@chretien-epelle-moi?si=rLYcJEmsPYyj5Yq8" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-youtube"></i>
</a>

<a href="https://www.tiktok.com/@chretien_epelle_moi?_r=1&_t=ZN-94yqXPDbMWs" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-tiktok"></i>
</a>



</div>

</div>


<!-- COLONNE 2 -->

<div class="footer-col">

<h4>Liens Utiles</h4>

<ul>

<li><a href="/">Accueil</a></li>
<li><a href="#">à propos</a></li>
<li><a href="#">Mode de Jeu</a></li>
<li><a href="#">Contact</a></li>

</ul>

</div>


<!-- COLONNE 3 -->

<div class="footer-col">

<h4>Contactez nous</h4>

<ul class="contact-list">

<li>✉ chretienepellemoi@gmail.com</li>
<li>📞 +228 92 45 21 46</li>
<li>📍 Sainte Rita de Zossimé</li>

</ul>

</div>

</div>

<hr class="footer-line">

</footer>